<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>轻风之语〖开发中……〗</title>
		<meta name="keywords" content="轻风之语〖开发中……〗"/>
		<meta name="description" content="轻风之语〖开发中……〗"/>
		<link rel="stylesheet" type="text/css" href="__ADMIN__/style/default.css">
		<link rel="stylesheet" type="text/css" href="__ADMIN__/style/font.min.css">
		<link rel="stylesheet" type="text/css" href="__ADMIN__/style/bootstrap.css">
	</head>

	<body>
		<div class="i-con">
			<div class="box i-row">
				<div class="i-col-12">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="{:url('index')}">标签管理</a></li>
						<li><a href="{:url('system')}">系统设置</a></li>
					</ul>
					<div class="box-con">
						<div class="box-btn">
							<a class="btn btn-insert" href="{:url('insert')}"><i class="icon ai-edit"></i>添加标签</a>
							<a class="btn btn-insert" href="{:url('insert')}"><i class="icon ai-edit"></i>更新排序</a>
						</div>
						<div class="table-con">
							<table class="table">
								<thead>
									<tr>
										<th class="check"><input type="checkbox" class="Tag_checkAll" id="idAll"></th>
										<th class="text-ctr-05">序号</th>
										<th class="text-ctr-05">排序</th>
										<th class="text-ltr-20">标题</th>
										<th class="text-ltr-20">分组</th>
										<th class="text-ltr">枚举值</th>
										<th class="text-ctr-08">状态</th>
										<th class="text-ctr-15">操作</th>
									</tr>
								</thead>
								<tbody id="id">
									{volist name='tag_lists' id='tag_list'}
									<tr>
										<td class="check"><input class="Tag_check" type="checkbox" name="id[]" value="{$tag_list.id}"></td>
										<td class="text-ctr">{$tag_list.id}</td>
										<td class="text-ctr-05"><input class="sort" type="text" name="sort" value="{$tag_list.sort}"></td>
										<td class="text-ltr">{$tag_list.title}</td>
										<td class="text-ltr">{$tag_list.group}</td>
										<td class="text-ltr">{$tag_list.value}</td>
										<td class="text-ctr">
											{if condition="$tag_list.status eq 0"}<span class="label red">禁用</span>
											{elseif condition="$tag_list.status eq 1"}<span class="label green">启用</span>
											{/if}
										</td>
										<td><a class="btn btn-redact" href='{:url('redact',array('id'=>$tag_list.id))}'><i class="icon ai-edit"></i>编辑</a>
											<a class="btn btn-delete" href='{:url('delete',array('id'=>$tag_list.id))}' onclick="javascript:return confirm('确定要删除吗？');"><i class="icon ai-delete"></i>删除</a>
										</td>
									</tr>
									{/volist}
								</tbody>
							</table>
						</div>
						<div class="paging"><div>
							<div class="page">{$tag_lists->render()}</div>
						</div></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__ADMIN__/style/jquery.min.js"></script>
		<script type="text/javascript" src="__ADMIN__/style/major.js"></script>
		<script type="text/javascript" src="__ADMIN__/style/bootstrap.js"></script>
	</body>
</html>
