<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>轻风之语〖开发中……〗</title>
	<meta name="keywords" content="轻风之语〖开发中……〗"/>
	<meta name="description" content="轻风之语〖开发中……〗"/>
	<link rel="stylesheet" type="text/css" href="__ADMIN__/style/default.css">
	<link rel="stylesheet" type="text/css" href="__ADMIN__/style/font.min.css">
</head>
<body>
	<div class="i-con">
		<div class="box i-row">
			<div class="i-col-12">
				<ul class="con-nav">
					<li class="on"><a href="javascript:void(0);">服务器信息</a></li>
				</ul>
				<div class="box-con">
					<div class="table-con">
						<table class="table">
							<thead>
								<tr class="tr-center">
									<th colspan="2" width="50%">服务器</th>
									<th colspan="2" width="50%">版本</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="10%">服务器操作系统：</td>
									<td>Windows NT</td>
									<td width="10%">程序版本：</td>
									<td>1.0</td>
								</tr>
								<tr>
									<td>服务器域名/IP：</td>
									<td>www.lsyu.net [ 183.158.35.57 ]</td>
									<td>程序开发：</td>
									<td>轻风之语</td>
								</tr>
								<tr>
									<td>服务器环境：</td>
									<td>Apache/2.4.27 (Unix) OpenSSL/1.0.1m PHP/7.1.07 mod_perl/2.0.8-dev Perl/v5.16.3</td>
									<td>版权所有：</td>
									<td>轻风之语</td>
								</tr>
								<tr>
									<td>PHP 版本：</td>
									<td>7.1.07</td>
									<td>更新时间：</td>
									<td>2017-08-01</td>
								</tr>
								<tr>
									<td>Mysql 版本：</td>
									<td>5.7.19</td>
									<td>官方交流群：</td>
									<td>459940399</td>
								</tr>
								<tr>
									<td>GD 版本</td> 
									<td>bundled (2.1.0 compatible)</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>文件上传限制：</td>
									<td>128M</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>最大占用内存：</td>
									<td>512M</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>最大执行时间：</td>
									<td>30s</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>安全模式：</td>
									<td>NO</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Zlib支持：</td>
									<td>YES</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Curl支持：</td>
									<td>YES</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__ADMIN__/style/jquery.min.js"></script>
	<script type="text/javascript" src="__ADMIN__/style/major.js"></script>
</body>
</html>
