<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>轻风之语〖开发中……〗</title>
	<meta name="keywords" content="轻风之语〖开发中……〗"/>
	<meta name="description" content="轻风之语〖开发中……〗"/>
	<link rel="stylesheet" type="text/css" href="__ADMIN__/style/default.css">
	<link rel="stylesheet" type="text/css" href="__ADMIN__/style/font.min.css">
	<link rel="stylesheet" type="text/css" href="__ADMIN__/style/bootstrap.css">
	<script type="text/javascript" src="__ADMIN__/style/jquery.min.js"></script>
	<script type="text/javascript" src="__ADDONS__/layer/layer.js"></script>
</head>

<body>
	<div class="i-con">
		<div class="box i-row">
			<div class="i-col-12">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="{:url('index')}">模型列表</a></li>
				</ul>
				<div class="box-con">
					<form class="Tab_form" name="form" method="post" action="{:url('global')}">
						<div class="box-btn">
				 			<button class="btn red" type="submit"><i class="icon ai-delete"></i>批量删除</button>
				 			<button class="btn orange" type="submit"><i class="icon ai-delete"></i>更新排序</button>
							<a class="btn blue" href="{:url('insert')}"><i class="icon ai-edit"></i>添加模型</a>
						</div>
						<div class="table-con">
							<table class="table">
								<thead>
									<tr>
										<th class="check"><input type="checkbox" class="Tab_checkAll" id="idAll"></th>
										<th class="text-ctr-05">排序</th>
										<th class="text-ctr-05">序号</th>
										<th class="text-ltr-20">标题</th>
										<th class="text-ltr-20">标识</th>
										<th class="text-ltr">附表</th>
										<th class="text-ctr-08">状态</th>
										<th class="text-ctr-15">操作</th>
									</tr>
								</thead>
								<tbody id="id">
									{volist name="models" id="model"}
										<tr>
											<td class="check"><input class="Tab_check" type="checkbox" name="id[]" value="{$model.id}"></td>
											<td class="text-ctr-05"><input class="sort" type="text" name="sort[{$model.id}]" value="{$model.sort}"></td>
											<td class="text-ctr">{$model.id}</td>
											<td class="text-ltr">{$model.title}</td>
											<td class="text-ltr">{$model.name}</td>
											<td class="text-ltr">{$model.tablename}</td>
											<td class="text-ctr">
												<a id="{$model.id}" onclick="change(this);" {if condition="$model.status eq 0"} class="btn btn-info red"{else} class="btn btn-info green" {/if}>{if condition="$model.status eq 0"}禁用{else}启用{/if}</a>
											</td>
											<td class="text-ctr">
												<a class="btn btn-info orange" href="{:url('redact',array('id'=>$model.id))}"><i class="icon ai-edit"></i>编辑</a>
												<a class="btn btn-info red" href="javascript:void(0);" id="{$model.id}" tablename="{$model.tablename}" onclick="remove(this);"><i class="icon ai-delete"></i>删除</a>
											</td>
										</tr>
									{/volist}
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__ADMIN__/style/major.js"></script>
	<script type="text/javascript" src="__ADMIN__/style/bootstrap.js"></script>
	<script type="text/javascript">
		// Ajax 异步转换状态
		function change(object){
			var id=$(object).attr('id');
			$.ajax({
				type	: "post",
				dataType: "json",
				url		: "{:url('change')}",
				data	: {id:id},
				success:function(data){
					if(data==0){
						$(object).attr('class','btn btn-info red');
						$(object).text('禁用');
					}
					else{
						$(object).attr('class','btn btn-info green');
						$(object).text('启用');
					}
				}
			});
		}

		// Ajax 异步删除记录
		function remove(object){
			layer.confirm('确定要删除该模型吗？', {icon: 3, title:'提示'}, function(index){
				var id=$(object).attr('id');
				var tablename=$(object).attr('tablename');
				$.ajax({
					type	: "post",
					dataType: "json",
					url		: "{:url('remove')}",
					data	: {id:id,tablename:tablename},
					success:function(data){
						if(data==1){
							layer.msg('删除模型成功！', {icon: 1});
							window.location.href="{:url('index')}";
						}
						else{
							layer.msg('删除模型失败！', {icon: 2});
						}
					}
				});
				layer.close(index);
			});
		}
	</script>
</body>
</html>
