<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>轻风之语〖开发中……〗</title>
	<meta name="keywords" content="轻风之语〖开发中……〗"/>
	<meta name="description" content="轻风之语〖开发中……〗"/>
	<link rel="stylesheet" type="text/css" href="__admin__/style/default.css">
	<link rel="stylesheet" type="text/css" href="__admin__/style/font.min.css">
	<link rel="stylesheet" type="text/css" href="__admin__/style/bootstrap.css">
	<script type="text/javascript" src="__admin__/style/jquery.min.js"></script>
	<script type="text/javascript" src="__addons__/layer/layer.js"></script>
	<script type="text/javascript" src="__addons__/uploadify/jquery.uploadifive.js"></script>
	<script type="text/javascript" src="__addons__/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__addons__/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" src="__addons__/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#uploadify').uploadifive({
				'auto'				: "true",
				'queueID'			: "queue",
				'uploadScript'		: "{:url('uploadify')}",
				'buttonText'		: "选择文件",
				'buttonClass'		: "btn btn-back",
				'fileTypeDesc'		: "Image Files",
				'fileObjName'		: "image",
				'onUploadComplete'	: function(file,data){
					$("input[name='image']").val(data);
					var file_src= "__uploads__/image/"+data;
					var file_show="<img height='100px' src='"+file_src+"'>";
					$('#hide_show').show();
					$('#file_show').html(file_show);
				}
			});
			$("#uploadifive-uploadify").prepend("<i style='padding-right:5px;' class='icon ai-up-img'></i>");
		});
	</script>
</head>

<body>
	<div class="i-con">
		<div class="box i-row">
			<div class="i-col-12">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a role="tab" data-toggle="tab" href="#basic">基本信息</a></li>
					<li><a role="tab" data-toggle="tab" href="#expert">其他信息</a></li>
					<li><a role="tab" data-toggle="tab" href="#custom">自 定 义</a></li>
					<li><a role="tab" data-toggle="tab" href="#authd">权限设置</a></li>
				</ul>
				<div class="box-con">
					<form class="Tab_form" name="form" method="post" enctype="multipart/form-data" action="">
						<div class="tab-content tabs">

							<div class="tab-pane fade in active" id="basic">
								<div class="form-node">
									<div class="form-title">所属模块：</div>
									<div class="form-con i-col-8">
										<select name="categoryid" style="width:102%">
											{volist name="categorys" id="category"}
												<option {if condition="$category.id eq $categoryid"} selected="selected" {/if} value="{$category.id}">{if condition="$category.parentid neq 0"}{$category.delimiter}├─{/if}{$category.title}</option>
											{/volist}
										</select>
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">文章标题：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="title" value="" placeholder="模块名称">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">发布作者：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="author" value="">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">文章来源：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="source" value="">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">属性标签：</div>
									<div class="form-con i-col-8">
										{volist name="types" id="type"}
											<div class="Tab_checkbox"><input type="checkbox" name="flag[]" value="{$type.title}"><span>{$type.title}</span></div>
										{/volist}
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">发布内容：</div>
									<div class="form-con i-col-8">
										<textarea class="input-title" id="content" name="content"></textarea>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="expert">
								<div class="form-node">
									<div class="form-title">关 键 词 ：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="keywords" value="" placeholder="搜索引擎关键词">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">文章描述：</div>
									<div class="form-con i-col-8">
										<textarea class="input-title" name="description" rows="3" placeholder="搜索引擎描述"></textarea>
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">点 击 量 ：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="click" value="">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">缩 略 图 ：</div>
									<div class="form-con i-col-8">
										<div id="queue">
											<input type="hidden" name="image" value="">
											<span id="uploadify"></span>
										</div>
									</div>
								</div>
								<div id="hide_show" class="form-node" style="display:none;">
									<div class="form-title">&nbsp;</div>
									<div class="form-con i-col-8">
										<div id="file_show" style="float:left;"></div>
										<div id="cancel" style="float:left;"><span><a href="javascript:void(0);"><i style='padding:0 5px 0 10px;' class="icon ai-delete"></i>删除</a></span></div>
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模块状态：</div>
									<div class="form-con i-col-8">
										<div class="btn-on">
											<label class="Tab_on btn on-on">显示</label>
											<input class="Tab_open" type="radio" name="status" value="1" checked="checked">
											<input class="Tab_shut" type="radio" name="status" value="0">
											<label class="Tab_off btn off-off">隐藏</label>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="custom">
								{volist name="fields" id="field"}
									<div class="form-node">
										<div class="form-title">{$field.title}：</div>
										<div class="form-con i-col-8">
											<!-- 字段类型判断循环 -->
											{if $field.type==1}
												<input class="input-title" type="text" name="{$field.name}" value="">
											{elseif $field.type==2}
												<textarea class="input-title" rows="3" name="{$field.name}"></textarea>
											{elseif $field.type==3}
												<textarea class="input-title" rows="3" id="{$field.name}" name="{$field.name}"></textarea>
											{elseif $field.type==4}
												<input class="input-title" type="text" name="{$field.name}" value="">
											{elseif $field.type==5}
												<input class="input-title" type="text" name="{$field.name}" value="">
											{elseif $field.type==6}
												{if condition="$field.optional neq ''"}
													<?php $optional=explode('|',$field['optional']);foreach($optional as $key=>$value):?>
														<div class="Tab_radio">
															<input type="radio" name="{$field.name}" value="{$value}">
															<span>{$value}</span>
														</div>
													<?php endforeach;?>
												{/if}
											{elseif $field.type==7}
												{if condition="$field.optional neq ''"}
													<?php $optional=explode('|',$field['optional']);foreach($optional as $key=>$value):?>
														<div class="Tab_checkbox">
															<input type="checkbox" name="{$field.name}[]" value="{$value}">
															<span>{$value}</span>
														</div>
													<?php endforeach;?>
												{/if}
											{elseif $field.type==8}
												{if condition="$field.optional neq ''"}
													<select style="width:102%" name="{$field.name}">
														<?php $optional=explode('|',$field['optional']);foreach($optional as $key=>$value):?>
															<option value="{$value}">{$value}</option>
														<?php endforeach;?>
													</select>
												{/if}
											{elseif $field.type==9}
												<input class="input-upload" type="file" name="{$field.name}" value="">
											{/if}
										</div>
									</div>
								{/volist}
							</div>

							<div class="tab-pane fade" id="authd">
								<div class="form-node">
									<div class="form-title">权限设置：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="" value="" placeholder="等待完善……">
									</div>
								</div>
							</div>
						</div>
						<div class="form-node">
							<div class="form-title">&nbsp;</div>
							<div class="form-con">
								<button class="btn btn-submit blue" type="submit">提 交</button>
								<button class="btn btn-back" type="submit" onclick="history.go(-1)">返 回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__admin__/style/major.js"></script>
	<script type="text/javascript" src="__admin__/style/bootstrap.js"></script>
	<script type="text/javascript">
		// 百度编辑器(UEditor)
		UE.getEditor('content',{initialFrameWidth:'102%',initialFrameHeight:330,});
		// 百度编辑器(自定义字段)
		<?php foreach ($longtexts as $key => $value):?>
			UE.getEditor('<?php echo $value['name'];?>',{initialFrameWidth:'102%',initialFrameHeight:330,});
		<?php endforeach;?>

		// Ajax 删除上传文件
		$("#cancel").click(function(){
			var source=$("input[name='image']").val();
			if(!source){
				layer.msg('请先上传文件！', {icon: 7});
				return false;
			}
			layer.confirm('确定删除文件吗？', {icon: 3, title:'提示'}, function(index){
				$("#hide_show").hide();
				$("input[name='image']").val('');
				$.ajax({
					type	: "post",
					dataType: "json",
					url		: "{:url('deletefile')}",
					data	: {source:source},
					success:function(data){
						if(data==1){
							layer.msg('删除文件成功！', {icon: 1});
						}
						else{
							layer.msg('删除文件失败！', {icon: 2});
						}
					}
				});
				layer.close(index);
			});
		});
	</script>
</body>
</html>
