<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>轻风之语〖开发中……〗</title>
	<meta name="keywords" content="轻风之语〖开发中……〗"/>
	<meta name="description" content="轻风之语〖开发中……〗"/>
	<link rel="stylesheet" type="text/css" href="__admin__/style/default.css">
	<link rel="stylesheet" type="text/css" href="__admin__/style/font.min.css">
	<link rel="stylesheet" type="text/css" href="__admin__/style/bootstrap.css">
</head>

<body>
	<div class="i-con">
		<div class="box i-row">
			<div class="i-col-12">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a role="tab" data-toggle="tab" href="#basic">基本选项</a></li>
					<li><a role="tab" data-toggle="tab" href="#expert">高级设置</a></li>
					<li><a role="tab" data-toggle="tab" href="#authd">权限设置</a></li>
				</ul>
				<div class="box-con">
					<form class="Tab_form" name="form" method="post" action="">
						<input type="hidden" name="id" value="{$model.id}">
						<div class="tab-content tabs">

							<div class="tab-pane fade in active" id="basic">
								<div class="form-node">
									<div class="form-title">模型标题：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="title" value="{$model.title}" placeholder="模型名称">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模型标识：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="name" value="{$model.name}" placeholder="只能包含字母、数字、下划线">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">附加表名：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="tablename" value="{$model.tablename}" placeholder="请用小写且不带默认表前缀">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模型排序：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="sort" value="{$model.sort}">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模型状态：</div>
									<div class="form-con i-col-8">
										<div class="btn-on">
											{if condition="$model.status eq 1"}
												<label class="Tab_on btn on-on">启用</label>
												<input class="Tab_open" type="radio" name="status" value="1" checked="checked">
												<input class="Tab_shut" type="radio" name="status" value="0">
												<label class="Tab_off btn off-off">禁用</label>
											{elseif condition="$model.status eq 0"}
												<label class="Tab_on btn on-off">启用</label>
												<input class="Tab_open" type="radio" name="status" value="1">
												<input class="Tab_shut" type="radio" name="status" value="0" checked="checked">
												<label class="Tab_off btn off-on">禁用</label>
											{/if}
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="expert">
								<div class="form-node">
									<div class="form-title">模型模板：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="template_index" value="{$model.template_index}">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模型模板：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="template_list" value="{$model.template_list}">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模型模板：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="template_show" value="{$model.template_show}">
									</div>
								</div>
								<div class="form-node">
									<div class="form-title">模块描述：</div>
									<div class="form-con i-col-8">
										<textarea class="input-title" name="description" rows="3" placeholder="关于模型的描述……">{$model.description}</textarea>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="authd">
								<div class="form-node">
									<div class="form-title">权限设置：</div>
									<div class="form-con i-col-8">
										<input class="input-title" type="text" name="" value="" placeholder="等待完善……">
									</div>
								</div>
							</div>
						</div>
						<div class="form-node">
							<div class="form-title">&nbsp;</div>
							<div class="form-con">&nbsp;</div>
						</div>
						<div class="form-node">
							<div class="form-title">&nbsp;</div>
							<div class="form-con">
								<button class="btn btn-submit blue" type="submit">提 交</button>
								<button class="btn btn-back" type="submit" onclick="history.go(-1)">返 回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__admin__/style/jquery.min.js"></script>
	<script type="text/javascript" src="__admin__/style/major.js"></script>
	<script type="text/javascript" src="__admin__/style/bootstrap.js"></script>
</body>
</html>
