/** 
 
 @Name：laydate [颜色:淡蓝]
 @Author：贤心
 @Site：http://sentsin.com/layui/laydate
 
**/


.laydate-icon{border:1px solid #CCCCCC; background-image:url(icon.png);}
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time{border:1px solid #CCCCCC;}
.laydate_body .laydate_box, 
.laydate_body .laydate_time{box-shadow: 2px 2px 5px rgba(0,0,0,.1);}
.laydate_body .laydate_box{border-top:none; border-bottom:none; background-color:#FFFFFF; color:#333333;}
.laydate_body .laydate_box input{background:none!important; color:#FFFFFF;}
.laydate_body .laydate_box .laydate_void{color:#CCCCCC!important;}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{color:#333333;}
.laydate_body .laydate_box a:hover{color:#666666;}
.laydate_body .laydate_click{background-color:#00CCCC!important; color:#FFFFFF!important;}
.laydate_body .laydate_top{border-top:1px solid #00CCCC; background-color:#00CCCC}
.laydate_body .laydate_ym{border:1px solid #00CCCC; background-color:#00CCCC;}
.laydate_body .laydate_ym .laydate_yms{border:1px solid #00CCCC; background-color:#00CCCC; color:#FFFFFF;}
.laydate_body .laydate_y .laydate_yms a{border-bottom:1px solid #00CCCC;}
.laydate_body .laydate_y .laydate_yms .laydate_chdown{border-top:1px solid #00CCCC; border-bottom:none;}
.laydate_body .laydate_choose{border-left:1px solid #00CCCC;}
.laydate_body .laydate_chprev{border-left:none; border-right:1px solid #00CCCC;}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover{background-color:#00CCCC;}
.laydate_body .laydate_chtop cite{border-bottom-color:#FFFFFF;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{border-top-color:#FFFFFF;}
.laydate_body .laydate_chprev cite{border-right-style:solid; border-right-color:#FFFFFF;}
.laydate_body .laydate_chnext cite{border-left-style:solid; border-left-color:#FFFFFF;}
.laydate_body .laydate_table{width: 240px!important; margin: 0!important; border:1px solid #CCCCCC; border-top:none; border-bottom:none;}
.laydate_body .laydate_table td{border:none;  height:21px!important; line-height:21px!important; background-color:#FFFFFF; color:#333333;}
.laydate_body .laydate_table .laydate_nothis{color:#999999;}
.laydate_body .laydate_table thead{border-bottom:1px solid #CCCCCC; height:21px!important; line-height:21px!important;}
.laydate_body .laydate_table thead th{}
.laydate_body .laydate_bottom{border:1px solid #CCCCCC; border-top:none;}
.laydate_body .laydate_bottom #laydate_hms{background-color:#FFFFFF;}
.laydate_body .laydate_time{background-color:#FFFFFF;}
.laydate_body .laydate_time1{width: 226px!important; height: 152px!important;}
.laydate_body .laydate_bottom .laydate_sj{width:31px!important; border-right:1px solid #CCCCCC; background-color:#FFFFFF;}
.laydate_body .laydate_bottom input{background-color:#FFFFFF; color:#333333;}
.laydate_body .laydate_bottom .laydte_hsmtex{border-bottom:1px solid #CCCCCC;}
.laydate_body .laydate_bottom .laydate_btn{border-radius:2px;border:1px solid #CCCCCC;}
.laydate_body .laydate_bottom .laydate_v{color:#999999;}
.laydate_body .laydate_bottom .laydate_btn a{border-right:1px solid #CCCCCC;background-color:#FFFFFF;}
.laydate_body .laydate_bottom .laydate_btn a:last-child{border-right:none;}
.laydate_body .laydate_bottom .laydate_btn a:hover{background-color:#00CCCC; color:#FFFFFF;}
.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover{background-color:#FF3366; color:#FFFFFF;}
